<div class="container">
  <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
    <h1><b>Recover Password</b></h1>
    <div>
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
      />
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" />
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="recoverPasswordForm.invalid"
    >
      Change Password
    </button>
  </form>
</div>
