<div class="container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
      />
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" />
    </div>
    <!-- [disabled]="changePasswordForm.invalid" -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="navigateToHome()"
    >
      Change Password
    </button>
  </form>
</div>
