<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      @if(this._authService.isAuthenticated()){

      <a mat-list-item routerLink="dashboard">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
      }

      <a mat-list-item routerLink="newuser">
        <mat-icon>person</mat-icon>
        <span>users</span>
      </a>

      <a mat-list-item routerLink="vehicles">
        <mat-icon>directions_car</mat-icon>
        <span>vehicles</span>
      </a>

      <a mat-list-item routerLink="addsts">
        <mat-icon>store</mat-icon>
        <span>Add STS</span>
      </a>
      <a mat-list-item routerLink="landfill">
        <mat-icon>store</mat-icon>
        <span>Add Landfill</span>
      </a>

      @if(!this._authService.isAuthenticated()){

      <a mat-list-item routerLink="login">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
      } @if(!this._authService.isAuthenticated()){

      <a mat-list-item routerLink="provideotp">
        <mat-icon>account_box</mat-icon>
        <span>Login with otp</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="navigateToHome()">EcoSync</button>
    <span class="example-spacer"></span>

    @if(!this._authService.isAuthenticated()){

    <a mat-raised-button (click)="navigateToLogin()">
      <mat-icon>account_circle</mat-icon>
      Login
    </a>
    } @if(this._authService.isAuthenticated()){

    <a mat-raised-button (click)="logout()">
      <mat-icon>account_box</mat-icon>
      Logout
    </a>
    }
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
