<div class="container">
  <h1>Create New Contructor</h1>

  <form [formGroup]="contructorForm" (ngSubmit)="onFormSubmit()">
    <div class="content">
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Registration ID</mat-label>
        <input matInput formControlName="registrationId" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>TIN of the Company</mat-label>
        <input matInput formControlName="tin" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactNumber" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Workforce Size</mat-label>
        <input matInput formControlName="workforceSize" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Payment per Tonnage of Waste</mat-label>
        <input matInput formControlName="paymentPerTonnageOfWaste" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Required Amount of Waste per Day</mat-label>
        <input matInput formControlName="requiredAmountOfWastePerDay" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contract Duration</mat-label>
        <input matInput formControlName="contractDuration" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Designated STS</mat-label>
        <mat-select formControlName="designatedSTS">
          <mat-option *ngFor="let sts of stsList" [value]="sts._id">
            {{ sts.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="actions">
      <button
        mat-button
        color="primary"
        (click)="navigateToRegisterConstructor()"
      >
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
