<body>
  <mat-nav-list>
    <!-- Render menu items based on the token value -->
    <ng-container>
      <a
        mat-list-item
        *ngFor="let item of menuItemsAdmins()"
        [routerLink]="item.route"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </ng-container>

    <ng-container>
      <a
        mat-list-item
        *ngFor="let item of menuItemsUsers()"
        [routerLink]="item.route"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </ng-container>
  </mat-nav-list>
</body>
