<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-14 md:col-6 p-8 text-center md:text-left flex align-items-center"
  >
    <section>
      <div class="block text-4xl font-bold mb-1 head1">Welcome to</div>
      <br />
      <div class="text-7xl text-primary font-bold mb-2 head2">EcoSync</div>
      <br />
      <br />
      <p class="mt-0 mb-4 text-700 line-height-3">
        An excellent management system that was build to manage waste manager
        pipeline.
      </p>

      <button
        pButton
        pRipple
        label="DNCC Website"
        type="button"
        (click)="redirectToURL('https://www.dncc.gov.bd/')"
        class="mr-3 p-button-raised"
      ></button>

      <button
        pButton
        pRipple
        label="Waste Management Report"
        type="button"
        (click)="
          redirectToURL(
            'https://dncc.portal.gov.bd/sites/default/files/files/dncc.portal.gov.bd/annual_reports/6693c776_0dde_49da_b85b_1928d398a7f4/2020-07-07-15-04-0388efe51e61d331efb81045a0648dd2.pdf'
          )
        "
        class="p-button-outlined"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="../../../../assets/dumping.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">Transforming Waste, </span>
    <span class="text-blue-600">Sustaining Futures</span>
  </div>
  <div class="text-700 mb-6">
    Pioneering a sustainable approach to waste management for a healthier Dhaka.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-refresh text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Innovative Recycling</div>
      <span class="text-700 line-height-3"
        >Promoting advanced recycling techniques to reduce landfill use and
        encourage resource conservation.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-users text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Community Engagement</div>
      <span class="text-700 line-height-3"
        >Empowering communities to participate actively in sustainable waste
        practices and environmental stewardship.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-sun text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Energy from Waste</div>
      <span class="text-700 line-height-3"
        >Harnessing waste-to-energy technologies to reduce waste volume and
        generate renewable energy.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-map-marker text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">
        Efficient Collection Systems
      </div>
      <span class="text-700 line-height-3"
        >Implementing smart and efficient waste collection and transportation
        systems to minimize environmental impact.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-chart-line text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">
        Data-Driven Strategies
      </div>
      <span class="text-700 line-height-3"
        >Leveraging data analytics to optimize waste management processes and
        improve operational efficiencies.</span
      >
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-globe text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Global Best Practices</div>
      <span class="text-700 line-height-3"
        >Adopting and implementing global best practices in waste management to
        ensure a sustainable environmental future.</span
      >
    </div>
  </div>
</div>
